doc/xml-schemas/simpleuniverse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">A SBaz package description file.</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="simpleuniverse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="name"/>
        <xsd:element name="location"/>
        <xsd:element name="description" minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
